:root{
  --bg-shape-color:linear-gradient(120deg,  #343A4F, #0F1620) ;
 --lightblue: #3D9DEA;
 --darkblue: #4A4EEE;
 --text-color: #D5E1EF;
}
/*6e6e6dff*/
html,
body {
    background-image: var(--bg-shape-color);
    height: 100%;
}

.main {
    margin-top: 3rem;
}
.nav-option{
    background-image: var(--darkblue); 
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    width: 100%;
    
}
.navigation{
    position: relative;
    width: auto;
    height: 80px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    background-image:  linear-gradient(var(--lightblue), var(--darkblue));
}
.navigation li{
    position: relative;
    list-style: none;
    width: 80px;
    margin: 0 5px;
}
.navigation li a{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}
.navigation li a .icon{
    position: absolute;
    font-size: 1.75em;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    border-radius: 50%;
    transition: 0.5s;
    transition-delay: 0.2;
}
.navigation li.active a .icon{
    background-image:  linear-gradient(10deg, var(--lightblue), var(--darkblue));
    color: #fff;
    transform: translateY(-50px);
    transition-delay: 0;
    z-index: 1000000;
}
.navigation li a .icon::before{
    content: '';
    position: absolute;
    inset: 10px;
    background-image: var(--bg-shape-color);
    border-radius: 50%;
    transform: scale(0);
    transition: 0.5s;
}
.navigation li.active a .icon::before{
    transform: scale(1);
} 
.navigation li a .text{
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    opacity: 0;
    border-radius: 15px;
    transform: translateY(20px);
    transition: 0.5s;
    transition-delay: 0s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navigation li.active a .text{
    opacity: 1;
    transform: translateY(10px);
    transition-delay: 0.2s;
}
@media (max-width: 399px) {
    .navigation{
        position: relative;
        width: 80%;
        height: 60px;
    }
    .navigation li a .icon{
        font-size: 1.4rem;
    }
    .navigation li.active a .icon{
        transform: translateY(-40px);
    }
    .navigation li a .text{
        font-size: 0.6rem;
    }
}
.post-handler{
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #121c24;
    background-clip: border-box;
    box-shadow: -2px -2px 2px 0px rgba(80, 80, 80, 0.1), 2px 2px 3px 0px rgba(12, 12, 12, 0.3), inset 0px 0px 0px 2px rgba(80, 80, 80, 0.2);
    max-width: 50rem;
    width: 21rem;
    border-radius: 15px;
    margin: 15px 0;
    color: var(--text-color);
}
.post-handler div{
    display: inline;
}
.post-handler .card-img-top{
    border-radius: 10px;
}


.card-text{
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.img-avater{
    width: 2rem;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    margin-top: -5px;
}
.u_name{
    font-size: 14px;
    color: white;
}
.u_name:hover{
    color: white;
}


.grid-container{
    columns: 4;
    column-gap: 5px;
}
.break-inside-avoid{
    margin-bottom: 5px;
    break-inside: avoid;
}
@media(max-width: 1433px){
    .grid-container{
        columns: 3;
        column-gap: 5px;
    }
    .break-inside-avoid{
        margin-top: 20px;
        break-inside: avoid;
    }
}
@media(max-width: 1150px){
    .grid-container{
        columns: 2;
        column-gap: 5px;
    }
    .break-inside-avoid{
        margin-top: 20px;
        break-inside: avoid;
    }
}
@media(max-width: 700px){
    .grid-container{
        columns: 1;
        column-gap: 5px;
    }
    .break-inside-avoid{
        margin-top: 20px;
        break-inside: avoid;
    }
}
@media(max-width: 500px){
    .grid-container{
        columns: 1;
        column-gap: 5px;
    }
    .break-inside-avoid{
        margin-top: 20px;
        break-inside: avoid;
    }
}
@media (max-width: 433px) {
    .post-handler{
        width: 100vw;
        margin-left: -16px;
    }
    .u_name{
        font-size: 15px;
    }
}
@media (max-width: 399px) {
    .post-handler{
        width: 100vw;
        margin-left: -17px;
    }
    .u_name{
        font-size: 15px;
    }
}
.about-product{
    opacity: 1;
    display: inline;
}
.post-handler:hover .slide-controller{
    display: inline;
}
.slide-controller{
    display: none;
}
@media (max-width: 700px) {
    .slide-controller{
        display: none;
    }
}
.post-handler-desc .card-img-top{
  transition: 0.5s;
  opacity: 0.3;
}
.post-handler-desc .description{
    display: inline;
}
.description .text{
    color: #fff;
    font-size: 16px;
    padding: 16px 32px;
}
.info-desc{
    transition: 1s ease;
    text-align: center;
}
.btn{
    padding: 3px;
}
.order-btn{
    width: 80%;
}
.desc-btn{
    margin-top: -32px;
}
.modal-content{
    background-image: var(--bg-shape-color);
    border: 1px solid var(--bg-shape-color);
}
.user-profile-data{
    margin-left: 50%;
    margin-top: -35%;
}
.modal-body{
    margin-top: -3rem;
}
.modal-search .modal-body{
    margin-top: -1rem;
}
.w-40{
    width: 40%;
}
.w-m60{
    width: 60%;
}
@media (max-width:500px) {
    .w-m60{
        width: 100%;
        transition: 0.5s;
    }
}
.w-80{
    width: 80%;
}
@media (max-width: 475px) {
    .modal-body .user-profile-handler{
        width: auto;
        text-justify: auto;
    }
    .user-profile-data{
      width: auto;
      margin-left: 0%;
    }
    .w-40{
        width: 60%;
    }
    .userpage-btn .w-40{
        width: auto;
    }
}
.user-data-handler{
    display: block;
    width: 50%;
    margin-left: 20px;
     
}
.main-user .user-data-handler{
   width: 100%;
}
.user-holder{
    display: flex;
    justify-content: center;
}
.main-user{
    margin-left: 10rem;
    color: var(--text-color);
    width: auto;
    margin: auto;
    background-color: transparent;
    position: relative;
    margin: 15px 0;
    object-fit: cover;
    justify-content: center
} 
@media (max-width: 763px) {
    .main-user{
        justify-content: right;
    }
}
.user-profile-handler .card-body{
    margin-top: 1rem;
    flex: 1 1 auto;
    padding: 0rem;
}
.modal-header{
    border-bottom: 1px solid var(--bg-shape-color);
}
.btn-close{
    margin-top: -.5rem;
    opacity: 1;
    color: blue;
}
.breaker{
    border-left: 1px solid black ;
}
.userpage-profile-handler{
    display: block;
}    
.main-name{
    font-size: 30px;
}
.location-user{
    font-size: 18px;
    margin-left: 0.5rem;
}
.bio-user{
   font-size: 15px;
}
.image-circle-bg{
    display: block;
    width: 100%;
    height: 20rem;
    border-radius: 10%;
    border: 1px solid transparent;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: -0.4rem;
}
.detail-images{
    display: block;
    width: 100%;
    height: 25rem;
    border-radius: 20px;
    border: 1px solid transparent;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: -0.4rem;
}
@media (max-width: 575px) {
    .main-name{
        margin-top: 1rem;
        margin-left: 0.5rem;
    }
    .location-user{
        padding-left: 0.5rem;
    }
    .bio-user{
        margin-left: 0.5rem;
     }
}
.classifier{
    display: flex;
    margin-top: 4rem;
    text-align: center;
    justify-content: center;
}
.classifier .active{
    border-bottom: 1px solid white;
}
.btn-divider{
    border-left: 1px solid white;
}
.order-userpage{
    margin-top: -4rem;
    opacity: 0;
    transition: 1s;
    transition-delay: 0.1s;
}
.user-products .card-body{
   transition: 0.2s;
   flex:1 1 auto;
   padding:1rem 1rem
}
.left-border{
    border-right: 2px solid white;
}
.right-border{
    border-left: 2px solid white;   
}
.detail-title{
    border: 1px solid white;
    padding: 5px;
    width: 210px;
    font-size: 28px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.user-detail-text-right{
  justify-content: end;
}
.detail-title-right{
    border: 1px solid white;
    padding: 5px;
    width: 210px;
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: end;
    float: right;
    margin-left: -2rem;
} 
.line-left{
    display: flex;
    border: 1px solid white;
    width: 13px;
    margin-left: -0.8rem;
    font-size: 28px;
    transform:translateY(20px);
}
.line-right{
    display: flex;
    border: 1px solid white;
    width: 20px;
    margin-left: -0.8rem;
    font-size: 28px;
    transform: translate(13px, 15px);
    float: right;
}
.detail-text{
    border: 1px solid white;
    padding: 10px;
    width: 65%; 
    height: auto;
    text-align: center;
    margin-left: 60px;
}
.detail-text-right{
    border: 1px solid white;
    padding: 10px;
    width: 65%; 
    height: auto;
    text-align: center;
    margin-left: 60px;
    float: right;
    transform: translate(-60px, 10px);
}
.detail-text .bio-user{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.detail-text-right .bio-user{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.line-left-bg{
    display: flex;
    border: 1px solid white;
    width: 4.6rem;
    margin-left: -0.85rem;
    font-size: 28px;
    transform: translateY(80px);
}
.line-right-bg{
    display: flex;
    border: 1px solid white;
    width: 4.6rem;
    margin-left: -0.85rem;
    font-size: 28px;
    transform: translate(198px, 130px); 
}
@media (max-width: 575px) {
    .user-detail-text{
        margin-top: 2rem;
    }
    .detail-text{
        width: 95%;
        margin-left: 30px;
    }
    .detail-text-right{
        width: 85%;
        transform: translate(-30.6px);
    }
    .line-left-bg{
        width: 2.8rem;
    }
    .line-right-bg{
        width: 2.8rem;
    }
}
.hashtag{
    background: var(--bg-shape-color) ;
    color: white;
    font-weight: 600;
}
.search-output{
    display: block ;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    width: 93%;
    height: auto;
}
.search-output-text{
    font-weight: 550;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.so-hidden{
    display: none;
    transition: 0.4s;
}
.flt-start{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1.5px;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}
.flt-start span{
    margin-left: 20px;
}
.z-index-100{
    z-index: 100000;
}
.ls-1-5{
    letter-spacing: 1.5px;
}
.bg-dark{
    background-image: var(--bg-shape-color);
}
/* sign-in*/
.form-signin{
    margin-top: -25px;
}
.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}
.form-control:focus {
    background-color: var(--bkg-color);
    color: var(--text-color);
}
.login {
    background: var(--bkg-color);
    padding: 15px;
    border: 1px solid var(--bkg-color);
    border-radius: 16px;
    box-shadow: 1px 10px 10px var(--bkg-card-shadow), 0px 5px 15px var(--bkg-card-shadow1);
    position: relative;
    margin: 20px auto;
    color: var(--text-color);
}

input[type="text"] {
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 520;
    font-family: Avantgarde, TeX Gyre Adeventor, URW Gothic L, sans-serif;
    color: var(--text-color);
}
textarea[type="text"] {
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 520;
    font-family: Avantgarde, TeX Gyre Adeventor, URW Gothic L, sans-serif;
    color: var(--text-color);
}

input[type="password"] {
    color: var(--text-color);
    margin-top: 1.2rem;
    height: 3.5rem;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 520;
    font-family: Avantgarde, TeX Gyre Adeventor, URW Gothic L, sans-serif;
}
.btn-submit-color {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: Avantgarde, TeX Gyre Adeventor, URW Gothic L, sans-serif;
    color: var(--text-color);
    border-radius: 14px;
    padding: 15px;
    box-shadow: 1px 10px 10px var(--bkg-card-shadow), 0px 5px 15px var(--bkg-card-shadow1);
    position: relative;
    border: 1px solid var(--btn-submit-color);
    background-color: var(--btn-submit-color);
}

.btn-submit-color:hover {
    padding: 15px;
    border-radius: 16px;
    box-shadow: 1px 10px 10px var(--bkg-card-shadow), 0px 5px 15px var(--bkg-card-shadow1);
    position: relative;
    color: var(--text-color);
}